div {
  border-color: black;
  border-style: solid;
  border-width: 1px;
}

.box {
  background-color:white; 
  float:left;
  font-weight: bolder;
}

.content-outer {
  display:flex;
  width:100%;
}

.content-inner {
  flex:1;
}

.content-photo {
  border: 1px black solid;
  height: 50px;
  width: 50px;
  float: left;
  vertical-align: middle;
  display: table;
}

.content-info {
  float: left;
}
